#main{
				
	border:1px #F2F2F2 solid;
	padding:10px;
	margin:5px;
	min-width:1020px;
	text-align:center;
	
}

#input-div{
	width:500px;
	display:inline-block;
	vertical-align:top;
		padding:5px;
		border:1px #F2F2F2 solid;

}

#ref-div{
	width:500px;
	display:inline-block;

	vertical-align:top;
	padding:5px;
}


#twitter {
	width:170px !important;
}

.input-group {
	    margin-bottom: 15px;
}

.spinner {
  margin: -36px auto;
  width: 70px;
  height: 40px;
  text-align: center;
  font-size: 10px;
  padding-left: 20px;
  visibility: hidden;
  margin-left: 140px;
}

.spinner > div {
  background-color: #333;
  height: 100%;
  width: 6px;
  display: inline-block;
  
  -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
  animation: sk-stretchdelay 1.2s infinite ease-in-out;
}

.spinner .rect2 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}

.spinner .rect3 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

.spinner .rect4 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

.spinner .rect5 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}

@-webkit-keyframes sk-stretchdelay {
  0%, 40%, 100% { -webkit-transform: scaleY(0.4) }  
  20% { -webkit-transform: scaleY(1.0) }
}

@keyframes sk-stretchdelay {
  0%, 40%, 100% { 
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4);
  }  20% { 
    transform: scaleY(1.0);
    -webkit-transform: scaleY(1.0);
  }
}